<h4>Contact us!</h4>
<hr />
<div class="form-group">
    <div class="col-md-10">
        <input type="text" placeholder="User name / Name">
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <input type="email" placeholder="Email">
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <textarea name="comment" cols="20" rows="5"></textarea>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</div>
