@using Microsoft.AspNet.Identity
@using CodeEditorApp.Models

@*@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("View your projects" + User.Identity.GetUserName(), "Index", "UserHome", routeValues: null, htmlAttributes: new { title = "Your Projects" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    *@
    <html>
    <body>
        <div class="tab dark-background light-textcolor border-box">
            <button class="tablinks dark-background light-textcolor" onclick="openTab(event, 'Login')">Log In</button>
            <button class="tablinks dark-background light-textcolor" onclick="openTab(event, 'Signup')">Sign Up</button>
            <button class="tablinks dark-background light-textcolor" onclick="openTab(event, 'Contact')">Contact us</button>
        </div>

        <div id="Login" class="tabcontent border-box">
            <h3>Log In</h3>
            <div>
                <section id="loginForm2">
                    @{  Html.RenderPartial("../Account/_Login", (LoginViewModel)ViewBag.LogIn);}
                </section>
            </div>
        </div>

        <div id="Signup" class="tabcontent border-box">
            <div>
                <section id="loginForm2">
                    @{  Html.RenderPartial("../Account/_Register", (RegisterViewModel)ViewBag.Register);}
                </section>
            </div>
        </div>

        <div id="Contact" class="tabcontent border-box">
            <div>
                <section id="loginForm2">
                    @{  Html.RenderPartial("../Account/_Contact", (ContactViewModel)ViewBag.Contact);}
                </section>
            </div>
        </div>

        <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablink;
            tabcontent = document.getElementsByClassName("tabcontent")
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablink = document.getElementsByClassName("tablink");
            for (i = 0; i < tablink.length; i++) {
                tablink[i].className = tablink[i].className.replace("active", " ");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            return false;
        }
        </script>
    </body>
</html>
                       <!-- }-->