@model CodeEditorApp.Models.ViewModels.UserViewModel

@{
    Layout = "~/Views/UserHome/_Layout.cshtml";
    ViewBag.Title = "UserHomePage";
    List<CodeEditorApp.Models.ViewModels.FolderViewModel> FolderList = ViewBag.Root.Folders;
}
<h2>Index</h2>

<body>
    <div class="row">
        <div class="col-md-2 document-list">
            <ul id="tree">
                @foreach (CodeEditorApp.Models.ViewModels.FolderViewModel item in FolderList)
                {
                    <li class="project-tree-head"><a href="#"></a>
                        <ul>

                        </ul>
                    </li>

                }
            </ul>
        </div>
        <div class="col-md-9 project-table">
            <!-- Responsive table starts here -->
            <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Projects)
                        {
                            <tr>
                                <td data-title="ID">1</td>
                                <td data-title="name-of-project">@item.name</td>
                                <td data-title="project-owner">Jack Daniels</td>
                            </tr>
                        }                      
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-1 add-project">
            <p>vantar plús tákn</p>
        </div>
    </div>

</body>