@model List<CodeEditorApp.Models.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*
    @foreach (var item in Model)
    {
        <h2>@item.name</h2>
        <br/>
        <h2>@item.location</h2>
        <br/>
    }*@

<body>
    <div class="row">
        <div class="col-md-2">
            <p>Þetta er index í UserHome</p>

        </div>
        <div class="col-md-10">
            <p>hehe</p>
        </div>
    </div>

</body>