@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ColabCode is a project made in Practical Project 2 course at Reykjavik University in spring 2017.</p>
<p>The goal of the course was to create a website where users could create a coding project and work on it online with other users.</p>

<h4>Features</h4>
<ul>
    <li>User can create and share Projects</li>
    <li>User can create/edit/upload/delete files within a project</li>
    <li>Multiple user can edit the same file and see changes in realtime</li>
    <li>Users can create a tasklist for individual projects</li>
    <li>Users can talk about a project with a chat</li>
</ul>
