@{
    ViewBag.Title = "About";

}
<div id="about" class="row container padding-for-container home-body">
    <h2 class="color-textcolor">@ViewBag.Title.</h2>
    <h3 class="color-textcolor">@ViewBag.Message</h3>
    <div class="row padding-for-container ">
        <div class="col-md-7 dark-textcolor">
            <h4 class="color-textcolor">What is this about?</h4>
            <p>ColabCode is a project made in Practical Project 2 course at Reykjavik University in spring 2017.</p>
            <p>The goal of the course was to create a website where users could create a coding project and work on it online with other users.</p>
            <h4 class="color-textcolor">What is this about?</h4>
            <p>ColabCode is a project made in Practical Project 2 course at Reykjavik University in spring 2017.</p>
            <p>The goal of the course was to create a website where users could create a coding project and work on it online with other users.</p>
            </div>
        <div class="col-md-5 dark-textcolor">
            <p>The goal of the course was to create a website where users could create a coding project and work on it online with other users.</p>
            <h4 class="color-textcolor">What is this about?</h4>
            <p>ColabCode is a project made in Practical Project 2 course at Reykjavik University in spring 2017.</p>
            <p>The goal of the course was to create a website where users could create a coding project and work on it online with other users.</p>
            <h4 class="color-textcolor">What is this about?</h4>
            <p>ColabCode is a project made in Practical Project 2 course at Reykjavik University in spring 2017.</p>
            <p>The goal of the course was to create a website where users could create a coding project and work on it online with other users.</p>
        </div>
        </div>
</div>