@{
    ViewBag.Title = "Home Page";
}
<div class="col-sm-7">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Build your application in groups</h1>
            <p>Eitthvað sjúklega ógeðslega nice stuff!</p>
            <a href="#" class="btn btn-outline btn-x1 page-scroll">Learn More</a>
        </div>
    </div>
</div>
    <div>
        @Html.Partial("_LoginPartial")
    </div>
