@{
    ViewBag.Title = "Home Page";
}

@{
    if (ViewBag.Make == null)
    {
        ViewBag.Make = "Login";
    }
}
@using Microsoft.AspNet.Identity
@using CodeEditorApp.Models

<body onload="openTab(event, '@ViewBag.make')">
    <div class="row container  padding-for-container home-body">
        <div class="col-md-8 info">
            <div class="text-center dark-textcolor">
                <h2 class="color-textcolor">Build your application in groups</h2>
                <p>CollabCode lets you work on your projects with anyone</p>
                <h3>Access your project anywhere</h3>
                <p>CollabCode stores your project in the cloud making it accessible anywhere</p>
                <h3>Usable whatever the platform</h3>
                <p>The online editor gives you the freedom to chose the platform you work on</p>

                @Html.ActionLink("Learn More", "About", "Home", new { area = "" }, new { @class = "btn btn-secondary btn-lg color-textcolor box-container" })
            </div>
        </div>
        @if (!Request.IsAuthenticated)
        {
            @Html.AntiForgeryToken()
            <div class="col-md-4 vcenter login">
                @Html.Partial("../Account/Login")
            </div>

        }
        else
        {

        }
    </div>

</body>



        
