@{
    ViewBag.Title = "Home Page";
}
<!--
<div class="row container body-content padding-for-container">
   @* @RenderBody()*@
</div>
-->
<body>
    <div class="row">
        <div class="col-md-8">
            <h1>Build your application in groups</h1>
            <p>ColabCode lets you work on your projects with anyone</p>
            <h1>Access your project anywhere</h1>
            <p>ColabCode stores your project in the cloud making it accessible anywhere</p>
            <h1>Usable whatever the platform</h1>
            <p>The online editor gives you the freedom to chose the platform you work on</p>
            @Html.ActionLink("Learn More", "About", "Home") 
        </div>
        <div class="col-md-4 vcenter ">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    
</body>
