@{
    ViewBag.Title = "Home Page";
}
<!--
<div class="row container body-content padding-for-container">
   @* @RenderBody()*@
</div>
-->
<body>
    <div class="row">
        <div class="col-md-8">
            <h1>Build your application in groups</h1>
            <p>Þetta er index í Home.....Eitthvað sjúklega ógeðslega nice stuff!</p>
            @Html.ActionLink("Learn More", "About", "Home") 
        </div>
        <div class="col-md-4 vcenter ">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    
</body>
