@{
    ViewBag.Title = "Home Page";
}
<!--
<div class="row container body-content padding-for-container">
   @* @RenderBody()*@
</div>
-->
<body>
    <div class="row">
        <div class="col-md-8">
            <h2 class="s-heading-home">Build your application in groups</h2>
            <p>CollabCode lets you work on your projects with anyone</p>
            <h2>Access your project anywhere</h2>
            <p>CollabCode stores your project in the cloud making it accessible anywhere</p>
            <h2>Usable whatever the platform</h2>
            <p>The online editor gives you the freedom to chose the platform you work on</p>
            @Html.ActionLink("Learn More", "About", "Home")
        </div>
        <div class="col-md-4 vcenter ">
            @Html.Partial("../Account/Login")
        </div>
    </div>

</body>