@{
    ViewBag.Title = "The Team";
}
<div id="team" class="row container padding-for-container home-body">
    <h2 class="color-textcolor">@ViewBag.Title.</h2>
    <h3 class="color-textcolor">@ViewBag.Message</h3>
    <div class="row padding-for-container ">
        <div class="col-md-7 dark-textcolor">
            <h4 class="color-textcolor">smaller heading inbetween</h4>
            <p>
                A great pic and stuff.
            </p>
        </div>
        <div class="col-md-5 dark-textcolor">
            <p>
                A great pic and stuff.
            </p>
        </div>
    </div>
</div>
