@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


    <h2>Terms & Conditions</h2>
<p>
    By using our website you agree to be legally bound by these terms, which shall take effect immediately on your first use of our website. If you do not agree to be legally bound by all the following terms please do not access and/or use our website.
    We may change these terms at any time by posting changes online. Please review these terms regularly to ensure you are aware of any changes made by us. Your continued use of our website after changes are posted means you agree to be legally bound by these terms as updated and/or amended.
    Usage: </p>
<p>
    You may not copy, reproduce, republish, download, make available to the public, or otherwise use our website content in any way except for your own personal, non-commercial use. You also agree not to adapt, alter or create a derivative work from any our website content except for your own personal, non-commercial use. Any other use of our website content requires the prior written permission of us.
    You agree to use our website only for lawful purposes, and in a way that does not infringe the rights of, restrict or inhibit anyone else's use and enjoyment of our website.
    Nobody ever reads me. You're not reading me right now, you just scrolled right past me. Well, screw you. Screw all of you. I'm some fancy legal document, and I say that I own your soul now. I also own your first-born child, and that runners-up trophy you won ages ago. I don't even want it, I was just going to melt it down and send it to Cash 4 Gold, or whatever it's called. Anyway, you didn't read this. Carry on.
    Disclaimers & Limitation of Liability:
</p>
<p>
    All of our website content, including the information, images, pictures, logos and icons regarding or relating to us, its products and services (or links to third party products and services), are provided "as is" and on an "is available" basis without any representations or any kind of warranty made (whether express or implied by law) to the extent permitted by law, including the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.
    Under no circumstances will us be liable for any of the following losses or damage (whether such losses where foreseen, foreseeable, known or otherwise): loss of data, loss of revenue or anticipated profits, loss of business, loss of opportunity, loss of goodwill or injury to reputation, losses suffered by third parties, any indirect, consequential, special or exemplary damages arising from the use of our website regardless of the form of action.
    We do not warrant that functions contained in our website content will be uninterrupted or error free, that defects will be corrected, or that our website or the server that makes it available are free of viruses or bugs.
    Intellectual Property:
</p>
<p>
    The images and logos identifying us or third parties and their products and services are subject to copyright, design rights and trade marks of us and/or third parties. Nothing contained in these terms shall be construed as conferring ownership by implication to us or any other third party.
    Submission of Information:
</p>
<p>
    Where you are invited to submit any information to our website you agree, by submitting your contribution, to grant us a perpetual, royalty-free, non-exclusive, sub-licenseable right and license to use the information, in accordance with privacy restrictions set out in the us Privacy Statement. If you do not want to grant us the rights set out above, please do not submit your information to our website.
    Further to paragraph 9, by submitting your information to our website, you warrant that your contribution: is your own information and that you have the right to make it available to us for all the purposes specified above; is not defamatory; and does not infringe any law; and indemnify us against all legal fees, damages and other expenses that may be incurred by us as a result of your breach of the above warranty; and waive any moral rights in your contribution for the purposes of its submission to and publication on our website and the purposes specified above.
    General:
</p>
<p>
    If there is any conflict between these terms and specific terms appearing elsewhere on our website (including local house rules) then the latter shall prevail.
    If any of these terms are determined to be illegal, invalid or otherwise unenforceable by reason of the laws of any state or country in which these terms are intended to be effective, then to the extent and within the jurisdiction in which that term is illegal, invalid or unenforceable, it shall be severed and deleted from these terms and the remaining terms shall survive, remain in full force and effect and continue to be binding and enforceable.
    These terms shall be governed by and interpreted in accordance with the laws of England and Wales.

</p>

