@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body {
    margin:0;
    background-color: #006072;
    font-family: 'Raleway', sans-serif;
    font-size:12px;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}
/*Used for the name of site on banner*/
#name {
     font-family: 'Lato', sans-serif;
     font-size: xx-large;
}
/*=FONT FOR HOMEPAGES=*/
/*Used for largest headings on Login site*/
.l-heading-home{
     font-family: 'Lato', sans-serif;
     font-size:x-large;
}
.
/*Used for smaller headings and larger text on Login site*/
.s-heading-home{
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

/*Used for textfields on Login site*/
.text-home{
    font-family: 'Raleway', sans-serif;
    font-size: medium; 
}

/*For the smallest letters on Login site*/
.sm-text-home{
    font-family: 'Raleway', sans-serif;
    font-size: small;
}

/*=FONTS FOR USERPAGES=*/
/*Used for largest headings on Login site*/
.heading-user{
    font-family: 'Lusitana', serif;
    font-size:x-large;
}
.l-text-user{
    font-size:large;
}
/*Used for smaller headings and larger text on Login site*/
.text-user{
    font-size:normal;
}

/*Used for hover writing*/
.hover-user{
    font-size:x-small;
}


/*Padding for all containers*/
.padding-for-container{
    padding:5px;
}

/*Override the default bootstrap behavior*/
.container{
    padding:0;
    margin:0;
    max-width:none;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    margin:50px 0px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/bakgrunnurtre.jpg");
}

/*Overwrite some default settings from Bootstrap*/
.navbar {
    background-color: #006072;
    width:inherit;
    max-width:none;
    min-height:40px;
    margin:0px;
}

/*...*/
.header-flex-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}

/*Size of logo on navbar*/
.logo{
    width:50px;
    height:50px;
}



/*UserHomePage*/

.document-list{
    border: 5px solid red;
}
.project-table{
    border: 5px solid yellow;
}

.add-project{
    border: 5px solid green;
}
/*stuff we might not need*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background: none;
    border: none;
}

#info-front {
  float:left;
  margin-top: 50px;
}

.btn-x1 {
    padding: 15px 45px;
    font-size: 11px;
}
.btn {
    border-radius: 300px;
}

.btn-outline {
    color: #FFF;
    border: 1px solid;
}

.btn, .navbar-default .nav>li>a {
    font-family: Lato,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

