@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body {
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-size:12px;
    background-color: #006072;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/*===FONTS===*/
/*Used for the name of site on banner*/
.name {
     font-family: 'Lato', sans-serif;
     font-style:italic;
     font-size: xx-large;
     color:#FF5C00; 
}

.navbar .l-heading-home a{
    color:#FF5C00;
    font-style:italic;
}

/*=FONT FOR HOMEPAGES=*/
/*Used for largest headings on Login site*/ 
.l-heading-home{
     font-family: 'Lato', sans-serif;
     font-size: x-large;
     font-style: italic;
}

.navbar a{
    color: #FF5C00;
}

/*Used for smaller headings and larger text on Login site*/
.s-heading-home{
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

/*Used for textfields on Login site*/
.text-home{
    font-family: 'Raleway', sans-serif;
    font-size: medium; 
}

/*For the smallest letters on Login site*/
.sm-text-home{
    font-family: 'Raleway', sans-serif;
    font-size: small;
}

/*=FONTS FOR USERPAGES=*/
/*Used for largest headings on Login site*/
.heading-user{
    font-family: 'Lusitana', serif;
    font-size: x-large;
    font-style: italic;
}

.l-text-user{
    font-size: large;
}

/*Used for smaller headings and larger text on Login site*/
.text-user{
    font-size: normal;
}

/*Used for hover writing*/
.hover-user{
    font-size: x-small;
}

/*==LAYOUT CHANGES==*/
/*=HEADERS=*/

/*Overwrite some default settings from Bootstrap*/
.navbar {
  background: #006072; 
    width:inherit;
    max-width:none;
    min-height:40px;
    margin:0px;
}
/*...*/
.header-flex-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}

/*Size of logo on navbar*/
.logo{
    width:50px;
    height:50px;
}


/*=BODY CHANGES=*/
/*Padding for all containers*/
.padding-for-container{
    padding: 5px;
    margin:0px;
}

/*Override the default bootstrap behavior*/
.container{
    padding:0;
    margin:0;
    max-width:none;
}

/* HOME VIEW */
/* Set padding to keep content from hitting the edges */
.home-body-content {
    margin:50px 0px 30px 0px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/bakgrunnurtre.jpg");
}

/* USERHOME VIEW */

.userhome-body-content {
    margin:50px 0px 0px 0px;
    height: 100%;
    background-color: #E0E0E0;
}

.document-list{
    height:100%;
    border: 1px solid red;
}
.project-table{
    border: 1px solid yellow;
}

.add-project{
    border: 1px solid green;
}

/* PROJECT VIEW */

.project-body {
    margin: 50px 0px 0px 0px;
    height: 100%;
    background-color: #E0E0E0;
}

.project-editor{
    height:100%;
    border: 1px groove blue;
}

.project-updates{
    height:20px;
    border-top:1px solid #FF5C00;
}

.project-actions{
    height:100%;
    border:1px solid yellow;
    padding:0;
    background-color: #E0E0E0;
    z-index: 2; /* Stay on top */
    position: fixed; /* Stay in place */
    right: 5px;
}

.clickable-icon{
    cursor: pointer;
}

/*========stuff we might not need*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background: none;
    border: none;
}

#info-front {
  float:left;
  margin-top: 50px;
}

.btn-x1 {
    padding: 15px 45px;
    font-size: 11px;
}
.btn {
    border-radius: 300px;
}

.btn-outline {
    color: #FFF;
    border: 1px solid;
}

.btn, .navbar-default .nav>li>a {
    font-family: Lato,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*     --START--     VILLI ER AÐ VINNA HÉR      --START--   */

/* Folder Tree START*/
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}

.tree ul {
    margin-left:1em;
    position:relative
}

.tree ul ul {
    margin-left:.5em
}

.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}

.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}

.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}

.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}

.indicator {
    margin-right:5px;
}

.tree li a {
    text-decoration: none;
    color:#369;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
/* Folder Tree END */

/*     --END--     VILLI ER AÐ VINNA HÉR      --END--   */




/*     --START--     HILMA ER AÐ VINNA HÉR      --START--   */
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* The side navigation menu */
.sidenav {
    border-left: 1px solid #FF5C00;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 50px;
    background-color: #E0E0E0; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FF5C00;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover, .offcanvas a:focus {
  color: #006072;
}*/

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#project-editor {
    transition: margin-right .2s;
    padding: 20px;
}


.project-actions ul{
    height:100%;
    padding: 0px;
    list-style:none;
    text-align: right;
    list-style-position: inside;
}


/*     --END--     HILMA ER AÐ VINNA HÉR      --END--   */