@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Raleway:400,700');

/*----------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------*/
/*
RESETS              Overwriting some default settings.
FONTS
MAIN-LAYOUT         HTML, BODY, HEADER-FOOTER
LAYOUT              WHAT'S IN THE LAYOUT VIEWS
	HEADER-FOOTER
	BODY
HOME                HOMEVIEW, LOGIN PARTIAL....
    LOGIN
USERHOME            USERHOMEVIEW, PROJECTLIST, ADD PROJECT BUTTON....
	þarf að bæta í hér $FOLDER-TREE
PROJECT             PROJECT VIEW, EDITOR, PROJECT ACTIONS....
    SIDE-NAV
PROJECT-ACTIONS 
    CHAT
    MEMBERS
    GOALS
...
*/

/*----------------------------------------------------------*\
    $RESETS
\*----------------------------------------------------------*/
/*for the header*/
.navbar {
    width:inherit;
    max-width:none;
    height:10%;
    min-height:55px;
    margin:0px;
}

.navbar-right ul li a:hover{ 
    background:none;
}
.navbar-left div a:hover{ 
    background:none;
    text-decoration:none;
}

/*Better control of padding*/
.container{
    padding:0;
    margin:0;
    max-width:none;
}





/*----------------------------------------------------------*\
    $FONTS
\*----------------------------------------------------------*/

/*for the header*/ 
.h1, h2, h3, h4,
.l-heading-home a,  
.l-heading-home,
.navbar a,
.heading-user,
.info a,
footer{
    font-family: 'Lato', sans-serif;
    font-style:italic;
}

.name, 
.l-heading-home,
.navbar ul li>*,
.text-user a{
}

.info a,
.text-home a{
}

.h1 {
     font-size: xx-large;
     padding:10px;
}

h2,
heading-home,
.heading-user{
    font-size: x-large;
}

h3,
.l-heading-home, 
.l-text-user,
.info a{

    font-size: large;
}

h4,
s-heading-home,
.text-home, 
.text-user{
    font-size: medium; 
}

.sm-text-home,
.hover-user,
#discussion{
    font-size: small;
}

.hover-text{
    font-size: x-small;
}







/*----------------------------------------------------------*\
    $MAIN-LAYOUT
\*----------------------------------------------------------*/

body {
    height: 95%;
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-size:12px;
    //color: #005d56; /*blugreen*/ 
    color: #006072; /*blue*/
    background-color: #006072; /*blue*/
    //background-color: #F5F5F5;

}

body, html {
    height: 95%;
    width: 100%;
    margin: 0;
}

/*Padding for all containers*/
.padding-for-container{
    padding: 5px;
    margin:0px;
}

/*Colors*/
.dark-textcolor >*,
.hover-text{ 
    //color: #005d56; /*dark cyan*/ 
    color: white;
}

  
.light-textcolor{
    //color:white;
    color: #006072;
}

.color-textcolor{
    color: #FF5C00; /*orange*/
}

.dark-background
{
    //background-color:#005d56; /*dark cyan*/
    background-color: white;  
}

.light-background,
.hover-text{
    background-color: #006072; /*dark blue*/
    //background-color: #F5F5F5; /*light grey*/ 
}

.box-container{
    background-color: white; 
    border: 1px groove #E0E0E0; /*darker grey*/
}

.border-box {
    border: 1px groove #E0E0E0; /*darker grey*/
}

/*----- $ICONS ----*/
.clickable-icon{
    cursor: pointer;
}

.hover-text{
    visibility: hidden;
    //width: 80px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px 10px 5px;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 0%;
    margin-left: -40%;
    opacity:0;
    transition:opacity 0.7s;
    transition-delay: 1s;
    
}
/* Show the hover-text when you mouse over the clickable-icon container */
.clickable-icon:hover .hover-text {
    visibility: visible;
    opacity:0.7;
}


/*For the arrow icon in project view*/
#go-to-project-list-text .hover-text{
    z-index: 1;
    top: 0;
    left: -200%;
    margin-left: -35px;
}

div.scroll,
table.scroll{
        overflow: auto;
}
/*----------------------------------------------------------*\
    $LAYOUT
\*----------------------------------------------------------*/

/*----- HEADER-FOOTER -----*/
/*for logo and name*/

.header-flex-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}

/*Size of logo on navbar*/
.logo{
    width:50px;
    height:50px;
}

footer{
    height:7%;
}

.navbar-fixed-bottom >*{
    padding: 0 5px;
}

.navbar-fixed-bottom >*:hover{
    text-decoration:none;
}



/*----- $BODY -----*/

.home-body-content{
    height: 94%;
} 

.user-body-content
{
    height: 94%;
}
 








/*----------------------------------------------------------*\
    $HOME
\*----------------------------------------------------------*/

.home-body{
    margin-top:55px;
}

/*Text in home*/
.info{
    margin-top:50px;
}

/*a{
    color: #005d56;
}*/

#about, #team, #terms, #help{
    padding:30px;
}



/*----- LOGIN ----*/
.login{
    margin-top:50px;
    padding-right:109px;
}


/* Style the tab */
div.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
div.tab button {
    float: left;
    border: none;
    border: 1px groove #E0E0E0; /*darker grey*/
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #F5F5F5;
    color: #005d56;
}

/* Create an active/current tablink class */
div.tab button.active {
    outline: none;
    overflow: hidden;
    background-color: #F5F5F5;
    color: #005d56;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}






/*----------------------------------------------------------*\
    $USERHOME
\*----------------------------------------------------------*/
.userhome-body{
    margin-top:55px;
    height:100%; 
}

.document-list,
.project-table,
.add-project{
    height:100%;    
    margin-top:2%;
}

.document-list{ /*also used in project*/
    width:15%;
    height:100%;

}

.document-list-icons{
    padding: 12px;
    border-bottom: 1px groove #E0E0E0; /*darker grey*/
}

#go-to-project-list{
    position: fixed;
    right: 85%;
    top: 85px;
}
.project-table{

    width:80%;
    height:100%;
}

.add-project{
    
    width:5%;
}

.modal-header{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/*----------------------------------------------------------*\
    $PROJECT
\*----------------------------------------------------------*/
.project-body{
    margin-top:55px;
    height:100%;
}

.project-editor,
#popout-nav,
.sidenav,
.project-actions{
    height: 100%;
    margin-top:2%;
}


.project-editor{
    width:80%;
    padding:1px;
}

.project-updates{
    height:20px;
}

#popout-nav{
     width:5%;
     padding:0;
     margin-left:0;
     margin-right:0;
}

.project-actions{
    z-index: 3; /* Stay on top */
    position: fixed; /* Stay in place */
    right: 0px;
    width:5%;
}


/*----- $EDITOR -----*/
#SyntaxSelector{
    border-radius: 6px;
}

#editor{
    height:92%;
}






/*----- $SIDE-NAV ------*/
.sidenav {
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right:0px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s
}


/* Position and style the close button (top right corner) */
/*sleppa?*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}



.project-actions{ /*nóg að setja klasann á ul og sleppa ul?*/
    padding: 0px;
    list-style:none;
    text-align: right;
    list-style-position: inside;
    position:center; 
    margin-top:0;
   
}

.project-actions li{
    padding: 7px 7px;
}

.right-padding{
    padding-right:46px;
}





/*----------------------------------------------------------*\
    $PROJECT-ACTIONS
\*----------------------------------------------------------*/
/*----- $CHAT -----*/
#message-box{
    height: 95%;
    width: 96%;
}

#message-box .row{
    margin: 0px;
}

/*Input from user*/
#message{
    width:90%;
    height:30px;
    max-width:none;
}

/*send button*/
#sendmessage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/arrow.png");
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    outline: 0;
    color:none;
}

#sendmessage:hover{ 
  background-position:  0px 0px;
  background-image: url("../images/arrow2.png");
}

#sendmessage:active{
  background-position:  0px 0px;
  background-image: url("../images/arrow2.png");
}

/*the chat itself*/
#discussion li{ 
    padding: 3px 0px;
    list-style:none;
    text-align: left;
}

/*------ $MEMBERS -----*/

#members{
    height:95%;
    width:96%;
}

#members span:first-of-type{
    position:absolute;
    right: 15%;
    top: 80px;
}

/*----- $GOALS -----*/

#goals{
    height:95%;
    width:96%;
    
}

#add-goal{
    position:absolute;
    right: 15%;
    top: 80px;
}
.goal span{
    padding-left:10px;
}

.no-style-list > * {
    list-style-type: none;
}

/*Checkboxes*/
input[type='checkbox'] {
    /* Hide the input, but have it still be clickable */
    opacity: 0;
    float: left;
    width: 18px;
    z-index: 2;
    cursor:pointer;
}


input[type='checkbox'] + label.goal,
input[type='checkbox'] + label.objective{

    clear: none;

    /* makes room for image */
    padding: 5px 0 4px 30px;
    /* put it over checkbox*/
    margin-left: -20px;
    margin-top:-3px;
    z-index: 1;
    background: url(../images/Unchecked-Checkbox.png) left center no-repeat;
    background-size: 25px;
}

input[type='checkbox']:checked + label.goal,
input[type='checkbox']:checked + label.objective {
    background-image: url(../images/Checked-Checkbox.png);
    background-size: 25px;
}

input[type='checkbox'] + label.objective,
input[type='checkbox']:checked + label.objective{
    background-size: 15px;
}

.add-objective i{
    padding: 5px 20px 4px 0px;
}

.add-objective {
    font-weight: bold;
    opacity: 0.7;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/*Þarf að breyta?????????????????????????????????????????????*/
#editor {
    transition: margin-right .2s;
    padding: 20px;
    height:90%;
}

.ace-editor{

}


/*========stuff we might not need*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background: none;
    border: none;
}

#info-front {
  float:left;
  margin-top: 50px;
}

.btn-x1 {
    padding: 15px 45px;
    font-size: 11px;
}
.btn {
    border-radius: 300px;
}

.btn-outline {
    color: #FFF;
    border: 1px solid;
}

.btn, .navbar-default .nav>li>a {

    text-transform: uppercase;
    letter-spacing: 2px;
}






/*     --START--     VILLI ER AÐ VINNA HÉR      --START--   */

/*------ $FOLDER-TREE ------*/
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none;
}
#tree2, #tree1{
    padding-top: 12px;
}

.tree ul {
    margin-left:1em;
    position:relative
}

.tree ul ul {
    margin-left:.5em
}

.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}

.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}

.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}

.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}

.indicator {
    margin-right:5px;
}

.tree li a{
    font-weight:400;
    text-decoration: none;
    //color:#369;
}

.tree li a:focus {
    font-weight: 700;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

  
/*     --END--     VILLI ER AÐ VINNA HÉR      --END--   */




/*     --START--     HILMA ER AÐ VINNA HÉR      --START--   */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*     --END--     HILMA ER AÐ VINNA HÉR      --END--   */