@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>

    <html>
    <head>
        <style>
            body {
                font-family: "Lato", sans-serif;
            }
            /* Style the tab */
            div.tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }

            /* Style the buttons inside the tab */
            div.tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }

            /* Change background color of buttons on hover */
            div.tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            div.tab button.active {
                outline: none;
                overflow: hidden;
            }

            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
            }
        </style>
    </head>

    <body>
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Login')">Log In</button>
            <button class="tablinks" onclick="openTab(event, 'Signup')">Sign Up</button>
            <button class="tablinks" onclick="openTab(event, 'Contact')">Contact us</button>
        </div>

        <div id="Login" class="tabcontent">
            <h3>Log In</h3>
            <p>Hér kemur log in formið</p>
        </div>

        <div id="Signup" class="tabcontent">
            <h3>Sign Up</h3>
            <p>Hér kemur sign up formið</p>
        </div>

        <div id="Contact" class="tabcontent">
            <h3>Contact us</h3>
            <p>
                Hér kemur upplýsingar um hvernig hægt er að hafa samband við okkur
                Hafa bara email sem sent er á og svoleiðis.
            </p>
        </div>

        <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablink;
            tabcontent = document.getElementsByClassName("tabcontent")
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablink = document.getElementsByClassName("tablink");
            for (i = 0; i < tablink.length; i++) {
                tablink[i].className = tablink[i].className.replace("active", " ");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            return false;
        }
        </script>
    </body>
    </html>
}
