@model CodeEditorApp.Models.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UserHome/_Layout.cshtml";
}

<h2>Project Index</h2>


<body>
    <div class="row">
        <div class="col-md-2 document-list padding-for-container">
            <p>listi í projectum kemur hér</p>

        </div>
        <div class="col-md-9 project-editor padding-for-container">
            <!-- Responsive editor starts here -->

        </div>
        <div class="col-md-1 project-actions padding-for-container">
            <p>hér koma actions og sprettigluggi</p>
            <ul>
                <li>editor</li>
                <li>chat</li>
                <li>group members</li>
                <li>todo</li>
            </ul>
        </div>
    </div>

</body>