@model CodeEditorApp.Models.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UserHome/_Layout.cshtml";
}

<h2>Project Index</h2>


<body>
    <div class="row padding-for-container">
        <div class="col-md-9 project-editor ">
            <!-- Responsive editor starts here -->
            <div class="tab-content">
            <div id="project-editor" class="tab-pane fade in active col-md-9">
                <h3>editor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div id="project-chat" class="tab-pane fade col-md-2">
                <h3>chat</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="project-members" class="tab-pane fade col-md-2">
                <h3>members</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="project-todo" class="tab-pane fade col-md-2">
                <h3>todo</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-1 project-actions padding-for-container">
        <p>hér koma actions og sprettigluggi</p>
        <ul class="nav">
            <li class="active"><a data-toggle="tab" href="#project-editor">Project editor</a></li>
            <li><a data-toggle="tab" href="#project-chat">Project chat</a></li>
            <li><a data-toggle="tab" href="#project-members">Project members</a></li>
            <li><a data-toggle="tab" href="#project-todo">Project todo</a></li>
        </ul>
    </div>



</body>