

    <div class="form-horizontal">
        <h4>You can not do this !!!</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Ok" class="btn btn-default" />
            </div>
        </div>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

